.btn-round {
  border-radius: 25px;
  width: 30px;
  height: 30px;
}

.btn-pill {
  width: 90px;
  font-size: 0.55rem;
  height: 30px;
  margin-top: 5px;
}

.btn-secondary-dim {
  background: $transparent-grey;
  color: $white;
  border: none;
}

.inactive-btn-warning:hover {
  background-color: $yellow;
  border-color: $yellow;
  cursor: default !important;
}

.inactive-btn-info:hover {
  background-color: $blue;
  border-color: $blue;
  cursor: default !important;
}

.inactive-btn-danger:hover {
  background-color: $red;
  border-color: $red;
  cursor: default !important;
}