body {
    height: 100vh;
    background: url($background-image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button, input {
    overflow: auto;
}

.blurred {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.close {
    cursor: pointer;
}

.drop-shadow {
    -webkit-box-shadow: 6px 3px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 3px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 6px 3px 12px -5px rgba(0,0,0,0.75);
}

.error {
    display: inline-block;
    font-size: 0.75rem;
    color: red;
    margin-left: 3px;
}

.image-placeholder {
    background: $seagreen;
    text-align: center;
    padding-top: 13px;
    font-size: 1.5rem;
    color: $white;
    border: 1px solid $lightgreen;
    float: right;
}

.is-active {
    display: block;
    opacity: 1;
}

.margin-btm-sm {
    margin-bottom: 5px;
}

.margin-left {
    margin-left: 20px;
}

.modal-body p {
    margin-top: 7px;
    margin-bottom: 0;
}

.round-image {
    width: 65px;
    height: 65px;
    border-radius: 100px;
}

.small-text {
    font-size: $font-size-sm;
}