$background-image: 'resources/images/background.jpg';

// Colours
$black-semi-transparent: rgba(0, 0, 0, 0.5);
$blue: #17a2b8;
$green: #28a745;
$grey: #cccccc;
$grey-dark: #2f4f4f;
$lightgreen: #00800024;
$orange: #ffc107;
$red: #dc3545;
$seagreen: #2e8b578f;
$transparent-grey: #6c757d55;
$white: #fff;
$white-semi-transparent: rgba(255,255,255,0.5);
$yellow: #ffc107;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$font-size-md: 1rem;
$font-size-sm: 0.75rem;
$line-height-base: 1.6;
