$background-image: 'resources/images/background.jpg';

// Colours
$white: #fff;
$white-semi-transparent: rgba(255,255,255,0.5);
$yellow: #ffc107;
$transparent-grey: #6c757d55;
$green: #28a745;
$blue: #17a2b8;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-size-md: 1rem;
$font-size-sm: 0.75rem;
